@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --hue: 223;
    --bg: hsl(var(--hue),10%,90%);
    --fg: hsl(var(--hue),10%,10%);
    --primary: hsl(var(--hue),90%,55%);
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    perspective: 600px;
    transition: background-color 0.3s;
}

.card, .card__chip {
    overflow: hidden;
    position: relative;
}

.card, .card__chip-texture,
.card__texture {
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.card {
    animation-name: rotate;
    background-color: var(--primary);
    background-image: radial-gradient(circle at 100% 0%, hsla(0,0%,100%,0.08) 29.5%, hsla(0,0%,100%,0) 30%), 
    radial-gradient(circle at 100% 0%, hsla(0,0%,100%,0.08) 39.5%, hsla(0,0%,100%,0) 40%),
    radial-gradient(circle at 100% 0%, hsla(0,0%,100%,0.08) 49.5%, hsla(0,0%,100%,0) 50%);
    border-radius: 0.5em;
    box-shadow: 0 0 0 hsl(0, 0%, 80%),
                0 0 0 hsl(0, 0%, 100%),
                -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
    color: hsl(0, 0%, 100%);
    width: 10.3em;
    height: 6.8em;
    transform: translate3d(0,0,0);
}

.card__info, .card__chip-texture,
.card__texture {
    position: absolute;
}

.card__chip-texture, .card__texture {
    animation-name: texture;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
}

.card__info {
    font: 0.75em/1 "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.75rem;
    inset: 0;
}

.card__logo, .card__number {
    width: 100%;
}

.card__logo {
    font-weight: bold;
    font-style: italic;
}

.card__chip {
    background-image: linear-gradient(hsl(0,0%,70%), hsl(0,0%,80%));
    border-radius: 0.2rem;
    box-shadow: 0 0 0 0.05rem hsla(0, 0%, 0%, 0.5) inset;
    width: 1.25rem;
    height: 1.25rem;
    transform: translate3d(0,0,0);
}

.card__chip-lines {
    width: 100%;
    height: auto;
}

.card__chip-texture {
    background-image: linear-gradient(-80deg, hsla(0,0%,100%,0),hsla(0,0%,100%,0.6) 48% 52%, hsla(0,0%,100%,0));
}

.card__type {
    align-self: flex-end;
    margin-left: auto;
}

.card__digit-group,
.card__exp-date,
.card__name {
    background: linear-gradient(hsl(0,0%,100%), hsl(0,0%,85%) 15% 55%, hsl(0,0%,70%) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Courier Prime", monospace;
    filter: drop-shadow(0 0.05rem hsla(0,0%,0%,0.3));
}

.card__number {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.card__valid-thru,
.card__name {
    text-transform: uppercase;
    margin-top: 3px;
}

.card__valid-thru__exp-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.card__valid-thru {
    font-size: 0.5em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.card__end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.card__mark {
    position: relative;
    width: 30px;
    height: auto;
}

.card__mark-circle-a,
.card__mark-circle-b {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.card__mark-circle-a {
    background-color: rgba(231, 231, 44, 0.877);
}

.card__mark-circle-b {
    left: 20px;
    background-color: rgba(226, 47, 47, 0.945);
}